<h2 class="mt-5 text-center">{{message}}</h2>
<div class="mt-4 d-flex justify-content-center">
  <a href="/auth/login" class="btn btn-primary mx-2">ورود</a>
  <a href="/auth/register" class="btn btn-success mx-2">ثبت نام</a>
</div>

