{{#if messages.error}}
  <div class="alert alert-danger">
    <ul>
      {{#each messages.error}}
        <li >{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if messages.success}}
  <div class="alert alert-success">
    <ul>
      {{#each messages.success}}
        <li >{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
